<!DOCTYPE html>
<html>
    <head>
        <title>Register | Quast</title>
    </head>
    <body>
        <div>
            <form action="/register" method="post">
                <label> Username: </label>
                <input type="text" name="username"></input><br>
                <label> Password: </label>
                <input type="password" name="password"></input><br>
                <input type="submit" name="submit" value="Register"></input>
            </form>
        </div>
    </body>
</html>
